---
import { RichText } from '../../../lib/interfaces.ts'
import { rewriteSameOriginHrefForBasePath } from '../../../lib/blog-helpers.ts'

export interface Props {
  richText: RichText
}

const { richText } = Astro.props

const resolvedHref =
  richText.Href && !richText.Mention
    ? rewriteSameOriginHrefForBasePath(richText.Href, Astro.site)
    : undefined
---

{
  /* prettier-ignore */
  resolvedHref ? (
    <a href={resolvedHref}><slot /></a>
  ) : (
    <slot />
  )
}

<style>
  a {
    text-decoration: underline;
  }
</style>
