---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
const altText = `${post.Title}のサムネイル画像`
// DEV でも filePath（/notion/...）を使う。featured-image-downloader が dev 起動時に
// public/notion へ取得するため、Notion の期限付きURLをブラウザが直読みしない。
if (post.FeaturedImage && post.FeaturedImage.Url) {
  image = filePath(new URL(post.FeaturedImage.Url))
}
---

{
  image && (
    <div class="post-featured-image">
      <img src={image} alt={altText} />
    </div>
  )
}

<style>
  .post-featured-image {
    padding: 0;
    width: 100%;
  }
  .post-featured-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--sss-card-radius, 8px);
  }
</style>
